<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

  <title>Epicodus MadLib</title>
</head>
<body>
  <h1>Fill in information below to create your custom story!</h1>

  <form action="/epicodus-story">
    <label for="weirdName"> Enter an unusual name</label>
    <input id="weirdName" name="weirdName" type="text">
    <br>
    <label for="timeOfYear"> Enter an time of year</label>
    <input id="timeOfYear" name="timeOfYear" type="text">
    <br>
    <label for="codingCatastrophy"> Enter a coding catastrophy</label>
    <input id="codingCatastrophy" name="codingCatastrophy" type="text">
    <br>

    <label for="programmingLang"> Enter a programming Language</label>
    <input id="programmingLang" name="programmingLang" type="text">
    <br>
    <label for="studentName"> Enter a students name</label>
    <input id="studentName" name="studentName" type="text">
    <br>
    <label for="hobby"> Enter a hobby</label>
    <input id="hobby" name="hobby" type="text">
    <br>
    <button type="submit">MadMyLibs!</button>
  </form>
</body>
</html>