<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MadLibs</title>
</head>
<body>
  <h1>Select which story/theme you would enjoy</h1>
  <a href="/epicodus-story-form">Epicodus story</a>
  <a href="/story-form">original story</a>
</body>
</html>